resources:
- ../../base

patches:
- target:
    kind: Deployment
    name: github-runner
  patch: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: strace-riscv-runner
    spec:
      template:
        spec:
          containers:
          - name: runner
            env:
            - name: GITHUB_REPO
              value: "https://github.com/alitariq4589/strace-riscv"
            - name: RUNNER_TOKEN
              valueFrom:
                secretKeyRef:
                  name: github-runner-tokens
                  key: strace-riscv-token
